private/clubs/cdc_wsi/CDCCommonType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://type.ws.cdc.tecnotree.com/CDCCommonType" xmlns:cns="http://type.ws.cdc.tecnotree.com/CDCCommonType" xmlns="http://type.ws.cdc.tecnotree.com/CDCCommonType/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--Type Definations used in CM Elements-->
  <xsd:complexType name="GenericResponseType">
    <xsd:sequence>
      <xsd:element name="transId" type="xsd:string"/>
      <xsd:element name="statusCode" type="xsd:int"/>
      <xsd:element name="statusMessage" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubscriptionResponseType">
    <xsd:sequence>
      <xsd:element name="providerId" type="xsd:string"/>
      <xsd:element name="originid" type="xsd:string"/>
      <xsd:element name="msisdn" type="xsd:string"/>
      <xsd:element name="subscriptionId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShortMessageType">
    <xsd:sequence>
      <xsd:element name="messageType" type="xsd:int"/>
      <xsd:element name="messageHeader" type="xsd:string" nillable="true"/>
      <xsd:element name="messageBody" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuthenticationRequestType">
    <xsd:sequence>
      <xsd:element name="userId" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="moduleNumber" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuthenticationResponseType">
    <xsd:sequence>
      <xsd:element name="statusCode" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="statusMessage" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="moduleNumber" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="rightsTypeId" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="rightsType" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceRequestType">
    <xsd:sequence>
      <xsd:element name="authenticationRequest" type="cns:AuthenticationRequestType" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="pageRequest" type="cns:PageRequestType" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceResponseType">
    <xsd:sequence>
      <xsd:element name="responseCode" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="responseMessage" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="authenticationResponse" type="cns:AuthenticationResponseType" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="pageResponse" type="cns:PageResponseType" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PageRequestType">
    <xsd:sequence>
      <xsd:element name="pageNumber" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PageResponseType">
    <xsd:sequence>
      <xsd:element name="numberOfRecords" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="totalNumberOfRecords" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="currentPage" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="totalPage" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeliverResponseType">
    <xsd:sequence>
      <xsd:element name="statusCode" type="xsd:int" nillable="false"/>
      <xsd:element name="statusMessage" type="xsd:string" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubmitResponseType">
    <xsd:sequence>
      <xsd:element name="transId" type="xsd:string" nillable="true"/>
      <xsd:element name="statusCode" type="xsd:int" nillable="false"/>
      <xsd:element name="statusMessage" type="xsd:string" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeliverContentResponseType">
    <xsd:sequence>
      <xsd:element name="chargeFlag" type="xsd:string" nillable="false"/>
      <xsd:element name="statusCode" type="xsd:int" nillable="false"/>
      <xsd:element name="statusMessage" type="xsd:string" nillable="false"/>
      <xsd:element name="responseMessage" type="xsd:string" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="bonusChrgDate">
    <xsd:sequence>
      <xsd:element name="bonusChrgFromDate" type="xsd:date" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="bonusChrgToDate" type="xsd:date" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="bonusChrgDates">
    <xsd:sequence>
      <xsd:element name="bonusChrgDate" type="cns:bonusChrgDate" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="bonusChrgDetail">
    <xsd:sequence>
      <xsd:element name="bonusChrgType" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="bonusChrgRetries" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
      <xsd:element name="bonusChrgDates" type="cns:bonusChrgDates" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tariffDetail">
    <xsd:sequence>
      <xsd:element name="providerId" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="applicationId" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="serviceId" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="originId" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tariff">
    <xsd:sequence>
      <xsd:element name="tariffId" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="tariffDetail" type="cns:tariffDetail" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="isSubscription" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
      <xsd:element name="bonusChrgDetails" type="cns:bonusChrgDetail" minOccurs="0" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tariffList">
    <xsd:sequence>
      <xsd:element name="tariff" type="cns:tariff" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateAllTariffRequestType">
    <xsd:sequence>
      <xsd:element name="tariffList" type="cns:tariffList" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Type Definations Ends-->
</xsd:schema>