private/clubs/cdc_wsi/CPSMSService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CPSMSService" targetNamespace="http://ws.cdc.tecnotree.com/CPSMSService/" xmlns:ctp="http://type.ws.cdc.tecnotree.com/CDCSMSType" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.cdc.tecnotree.com/CPSMSService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://type.ws.cdc.tecnotree.com/CPSMSService/">
      <xsd:import namespace="http://type.ws.cdc.tecnotree.com/CDCSMSType" schemaLocation="CPSMSService.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="submitSMSResponse">
    <wsdl:part name="parameters" element="ctp:submitSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="deliverSMSResponse">
    <wsdl:part name="parameters" element="ctp:deliverSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="deliverSMSRequest">
    <wsdl:part name="parameters" element="ctp:deliverSMSRequest"/>
  </wsdl:message>
  <wsdl:message name="submitSMSRequest">
    <wsdl:part name="parameters" element="ctp:submitSMSRequest"/>
  </wsdl:message>
  <wsdl:portType name="CPSMSService">
    <wsdl:operation name="deliverSMS">
      <wsdl:input message="tns:deliverSMSRequest"/>
      <wsdl:output message="tns:deliverSMSResponse"/>
    </wsdl:operation>
    <wsdl:operation name="submitSMS">
      <wsdl:input message="tns:submitSMSRequest"/>
      <wsdl:output message="tns:submitSMSResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CPSMSServiceSOAP" type="tns:CPSMSService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deliverSMS">
      <soap:operation soapAction="http://ws.cdc.tecnotree.com/CPSMSService/deliverSMS"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitSMS">
      <soap:operation soapAction="http://ws.cdc.tecnotree.com/CPSMSService/submitSMS"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CPSMSService">
    <wsdl:port name="CPSMSServiceSOAP" binding="tns:CPSMSServiceSOAP">
      <soap:address location="http://172.17.72.201:9090/cdc-service/services/CPSMSService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>